@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

.dino:nth-child(2) {
  display: none;
}

.dino:nth-child(4) {
  display: none;
}

.dino-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media only screen and (min-width: 25em) {

  .dino:nth-child(2) {
    display: block;
  }

  .dino:nth-child(4) {
    display: block;
  }

  .dino {
    width: 50%;
  }

}

@media only screen and (min-width: 38em) {

  .dino:nth-child(1) {
    display: none;
  }

  .dino {
    width: 33%;
  }

}

@media only screen and (min-width: 60em) {

  .dino:nth-child(1) {
    display: block;
  }

  .dino {
    width: 25%;
  }

}
